.reactPlayer {
  max-width: 100%;
  margin-top: 19px;

}

#home {
width: 400px;

}

#pitbull {
  font-size: 10px;
  padding: 0;

}

.header {
  background-color: whitesmoke;
}

.USflag {
  width: 50px;
  margin-left: 10px;
}
.BTCflag {
  width: 55px;
  margin-left: 10px;
  padding:5px;
}
.CNflag {
  width: 50px;
  margin-left: 10px;
}
#vidDesc {
  margin-bottom: 0px;
}

#vidText {
  margin: 3px;
  margin-top: 0;
  background-color: whitesmoke;
  padding: 10px;
}

#quote {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
  color: darkgreen;
}

.brokerage {
  background-color: #b9f9c8;
}
.endowUs {
  background-color:#d7ffd1;
  padding-bottom: 7px;
  /*font-style: bold;*/
}
.endowusText {
color: #b9f9c8;
}

